.wrapper {
	width: 90%;
	margin: auto;
}

img {
	max-width: 1200px;
	width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav, footer, h2 {
	font-family: "Open Sans";
	font-weight: lighter;
}

h2 {
	color: #ffa800;
	font-size: 1.375em;
	font-weight: 400;
}

nav {
	text-align: center;
	background-color: #82a4a6;
	padding-top: 15px;
	padding-bottom: 15px;
}

nav ul li {
	display: inline;
	text-align: center;
	padding: 5px 10px;
	font-size: 0.9375em;
}

a:link {
	color: white; 
	background-color: transparent; 
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 13px;
	padding-bottom: 13px;
}

a:hover {
	color: white;
	background-color: #96bcbc;
	text-decoration: none;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

article {
	width: 71%; 
	margin: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: "Open Sans";
	line-height: 1.5;
    text-align: justify;
    font-size: 0.875em;
    font-weight: lighter;
}

ol {
	list-style-type: upper-roman;
}

ul {
	list-style-type: circle;
}

footer {
	background-color: #82a4a6;
	color: white;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

@media screen and  (max-width: 800px) {
	a:hover {
		color: #ffa800;
	}

	footer {
		color: #ffa800;
	}
}
